# Dependencies
node_modules/

# Production build
build/
dist/

# Env
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Lockfile (optional to ignore)
package-lock.json

# VS Code and editor stuff
.vscode/
.idea/

# Misc
.DS_Store
